<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taro Ito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Maitree:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='portfolio.css')}}">
</head>
<body>
    <div class="bg-img" id="base">
        <p class="heading1" >Taro Ito</p>
        <!-- <p class="heading2" >Human Factors/UX Expert with Big Data Skills</p> -->
        <p class="heading2" >One Stop Shop for HF/UX and Big Data Solutions</p>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid" id="heading-container">
                <a class="navbar-brand" onclick="location.reload()"  href="/home"><i class="fas fa-home fa-2x" style="padding-bottom:1rem;color:rgb(3, 7, 55);"></i></a>
                <button class="navbar-toggler al-auto custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" id="home-tab">
                            <a class="nav-link active" aria-current="page" href="/home" >Home/Abount Me</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Data Science Projects
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/salary-home">Salary Analysis</a></li>
                                <li><a class="dropdown-item" href="/health-care-portal-home">Heath Care Portal</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Web Dev Projects
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/pokemon">Choose Your Pokemon</a></li>
                                <li><a class="dropdown-item" href="/tic-tac-toe.html">Tic_Tac_Toe_Game</a></li>
                                <li><a class="dropdown-item" href="/dicegame">Dice_Game</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/research">HF Research</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/work">Work Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact" tabindex="-1" aria-disabled="true">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="test" tabindex="-1" aria-disabled="true">test</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock content%}
    <script src="https://kit.fontawesome.com/7b980e144f.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="personalWebsite.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>