{% extends "salary_analysis_base.html" %}
{% block content %}
<center>
<table style='border: 1px solid black; width:300px'>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Salary Grade</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Female</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Male</center></th>
        </tr>
    </thead>
    {% for n in emp_counts_sg.index %}
    <tbody>
        <tr>
            <td style='border: 1px solid black'><center>{{n}}</center></td>
            <td style='border: 1px solid black'><center>{{emp_counts_sg.loc[n, "Female"]}}</center></td>
            <td style='border: 1px solid black'><center>{{emp_counts_sg.loc[n, "Male"]}}</center></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% for i in pie_charts_sg %}
<div><{{i}} alt=""></div>
{% endfor %}
<br>
<table style='border: 1px solid black; width:300px'>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Department</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Female</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Male</center></th>
        </tr>
    </thead>
    {% for n in emp_counts_dept.index %}
    <tbody>
        <tr>
            <td style='border: 1px solid black'><center>{{n}}</center></td>
            <td style='border: 1px solid black'><center>{{emp_counts_dept.loc[n, "Female"]}}</center></td>
            <td style='border: 1px solid black'><center>{{emp_counts_dept.loc[n, "Male"]}}</center></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% for i in pie_charts_dept %}
<div><{{i}} alt=""></div>
{% endfor %}
</center>
{% endblock content %}