{% extends "salary_analysis_base.html" %}
{% block content %}
<center>
<h2>All Employees with Promotion Status</h2><br>
<h4>Based on the salary after raise, determine if the employee is due for a promotion</h4><br>

<table style='border: 1px solid black; width:1000px'>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Employee ID</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Name</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Gender</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Salary Grade</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Salary</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Dept</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Hire Date</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Raise Amount</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>New Salary</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Promotion</center></th>

        </tr>
    </thead>
    {% for n in df.index %}
    <tbody>
        <tr>
            <td style='border: 1px solid black'><center>{{df.loc[n, "emp_id"]}}</center></td>
            <td style='border: 1px solid black'><center>{{df.loc[n, "name"]}}</center></td>
            <td style='border: 1px solid black'><center>{{df.loc[n, "gender"]}}</center></td>
            <td style='border: 1px solid black'><center>{{df.loc[n, "s_g"]}}</center></td>
            <td style='border: 1px solid black'><center>{{df.loc[n, "salary"]}}</center></td>
            <td style='border: 1px solid black'><center>{{df.loc[n, "dept"]}}</center></td>
            <td style='border: 1px solid black'><center>{{df.loc[n, "hire_date"]}}</center></td>
            <td style='border: 1px solid black'><center>{{df.loc[n, "raise_amount"]}}</center></td>
            <td style='border: 1px solid black'><center>{{df.loc[n, "new_salary"]}}</center></td>
            <td style='border: 1px solid black'><center>{{df.loc[n, "promotion"]}}</center></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br>
<h2>Employees Due to Promotion by Gender</h2>
<div><{{by_gender_all}} alt=""></div>
<br>
{% for grade in grades %}
<div><{{url_promo_by_sg_gender[grade]}} alt=""></div>
{% endfor %}
</center>
{% endblock content %}