{% extends "salary_analysis_base.html" %}
{% block content %}
<center>
<div><{{all_salaries}} alt=""></div>
<br>
<div><{{salaries_men}} alt=""></div>
<br>
<div><{{salaries_women}} alt=""></div>
<br>
<h2>Gender Difference in Salary Statistics</h2>
<h4>Women's salaries subtracted from Men's</h4>
<br>
{% set mean_diff = (stats["M"]["mean"] - stats["F"]["mean"])|round(4) %}
{% set median_diff = (stats["M"]["median"] - stats["F"]["median"])|round(4) %}
{% set sd_diff = (stats["M"]["sd"] - stats["F"]["sd"])|round(4) %}
<table style='border: 1px solid black; width:800px'>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Mean</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Median</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Mode(s)</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Standard Deviation</center></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style='border: 1px solid black'><center>{{mean_diff}} ({{(mean_diff/stats["M"]["mean"])|round(4)*100}}%)</center></td>
            <td style='border: 1px solid black'><center>{{median_diff}} ({{(median_diff/stats["M"]["median"])|round(4)*100}}%)</center></td>
            <td style='border: 1px solid black'><center>{{stats["M"]["modes"], stats["F"]["modes"]}}</center></td>
            <td style='border: 1px solid black'><center>{{sd_diff}} ({{(sd_diff/stats["M"]["sd"])|round(4)*100}}%)</center></td>
        </tr>
    </tbody>
</table>
<br><br>
<h2>Salary Statistics by Salary Grade</h2>
<table style='border: 1px solid black; width:800px'>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Salary Grade</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Mean</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Median</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Mode(s)</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Standard Deviation</center></th>
        </tr>
    </thead>
    {% for n in sg %}
    <tbody>
        <tr>
            <td style='border: 1px solid black'><center>{{n}}</center></td>
            <td style='border: 1px solid black'><center>{{stats[n]["ALL"]['mean']}}</center></td>
            <td style='border: 1px solid black'><center>{{stats[n]["ALL"]['median']}}</center></td>
            <td style='border: 1px solid black'><center>{{stats[n]["ALL"]['modes']}}</center></td>
            <td style='border: 1px solid black'><center>{{stats[n]["ALL"]['sd']}}</center></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br><br>
<h2>Salary Statistics by Employment Status</h2>
<table style='border: 1px solid black; width:800px'>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Salary Grade</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Mean</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Median</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Mode(s)</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Standard Deviation</center></th>
        </tr>
    </thead>
    {% for status in emp_status %}
    <tbody>
        <tr>
            <td style='border: 1px solid black'><center>{{status}}</center></td>
            <td style='border: 1px solid black'><center>{{stats[status]["ALL"]['mean']}}</center></td>
            <td style='border: 1px solid black'><center>{{stats[status]["ALL"]['median']}}</center></td>
            <td style='border: 1px solid black'><center>{{stats[status]["ALL"]['modes']}}</center></td>
            <td style='border: 1px solid black'><center>{{stats[status]["ALL"]['sd']}}</center></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br><br>
<h2>Pie Chart for Each Status by Gender</h2>
{% for status in emp_status %}
<div><{{stats[status]["chart_pie"]}} alt=""></div>
{% endfor %}
<br><br>
<div><{{stats["scatter_plots"]["mean_by_sg"]["ALL"]}} alt=""></div>
<br>
<h2>Mean Salary by Salary Grade and Gender</h2>
{% for gender in genders %}
<div><{{stats["scatter_plots"]["mean_by_sg"][gender]}} alt=""></div>
{% endfor %}
<br><br>
<h2>Mean Salary Comparision between Genders</h2>
{% for status in emp_status %}
<div><{{stats[status]["chart_barh_gender"]}} alt=""></div>
{% endfor %}
<br><br>
<h2>All Active Employees Ordered by Salary Grade & Name</h2>
<table style='border: 1px solid black; width:800px'>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Employee Name</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Gender</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Salary Grade</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Salary</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Dept</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Hire Date</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Classification</center></th>
        </tr>
    </thead>
    {% for n in all_emp.index %}
    <tbody>
        <tr>
            <td style='border: 1px solid black'><center>{{all_emp.loc[n, "name"]}}</center></td>
            <td style='border: 1px solid black'><center>{{all_emp.loc[n, "gender"]}}</center></td>
            <td style='border: 1px solid black'><center>{{all_emp.loc[n, "s_g"]}}</center></td>
            <td style='border: 1px solid black'><center>{{all_emp.loc[n, "salary"]}}</center></td>
            <td style='border: 1px solid black'><center>{{all_emp.loc[n, "dept"]}}</center></td>
            <td style='border: 1px solid black'><center>{{all_emp.loc[n, "hire_date"]}}</center></td>
            <td style='border: 1px solid black'><center>{{all_emp.loc[n, "status"]}}</center></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br><br>
</center>
{% endblock content %}