{% extends "salary_analysis_base.html" %}
{% block content %}
<center>
<h2>All Active Employees By Department</h2>

{% for dept in departments %}
<table style='border: 1px solid black; width:800px'>
    <thead>
        <tr>
        <th style='border: 1px solid black', rowspan="2"><center>Department</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Employee Name</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Gender</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Salary Grade</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Salary</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Hire Date</center></th>
        <!-- <th style='border: 1px solid black', rowspan="2"><center>Dept Code</center></th>
        <th style='border: 1px solid black', rowspan="2"><center>Dept Name</center></th> -->
        </tr>
    </thead>
    <div><{{urls[dept]}} alt=""></div>
    <!-- <h3>Department: {{dept}}</h3> -->
    <h3>{{dept_name[dept]}}</h3>
    {% for n in emp_active[emp_active.dept == dept].index %}
    <tbody>
        <tr>
            <td style='border: 1px solid black'><center>{{emp_active.loc[n, "dept"]}}</center></td>
            <td style='border: 1px solid black'><center>{{emp_active.loc[n, "name"]}}</center></td>
            <td style='border: 1px solid black'><center>{{emp_active.loc[n, "gender"]}}</center></td>
            <td style='border: 1px solid black'><center>{{emp_active.loc[n, "s_g"]}}</center></td>
            <td style='border: 1px solid black'><center>{{emp_active.loc[n, "salary"]}}</center></td>
            <td style='border: 1px solid black'><center>{{emp_active.loc[n, "hire_date"]}}</center></td>
            <!-- <td style='border: 1px solid black'><center>{{emp_active.loc[n, "dept_code"]}}</center></td>
            <td style='border: 1px solid black'><center>{{emp_active.loc[n, "dept_name"]}}</center></td> -->
        </tr>
    </tbody>
    {% endfor %}
</table>
<br>
{% endfor %}

</center>
{% endblock content %}