<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Science Final Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Maitree:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='portfolio.css')}}">
</head>

<body>
<br>
    <div class="bg-img" id="salary-analysis">
        <center><div style="padding-bottom: 2%;"><h1 class="heading1" id="salary-analysis-home-heading">Data Science Final Project</h1></div></center>
        <center><nav class="navbar navbar-expand-lg" style="display: inline-block">
            <div class="container-fluid">
                <a class="navbar-brand" onclick="location.reload()"  href="/home"><i class="fas fa-home fa-2x" style="padding-bottom:1rem;color:rgb(3, 7, 55);"></i></a>
                <button class="navbar-toggler al-auto custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-salary-analysis">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" id="salary-analysis-tabs">
                            <a class="nav-link active" aria-current="page" href="/salary-analysis" >Project Description</a>
                        </li>
                        <li class="nav-item" id="salary-analysis-tabs">
                            <a class="nav-link" href="/employee/counts">Employee Counts by Gender & More</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees/all">List of All Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees/dept">List of Employees by Department</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees/with/dept">List of All Employees With Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees/active">List of All Active Employees by Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees/salary">Salary Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees/id">All Employees with Unique ID</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees/salary/raise">All Employees' Salary After Raise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees/promotion">All Employees' Promotion Status After Raise</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav></center>
    </div>
    {% block content %}
    {% endblock content%}
    <script src="https://kit.fontawesome.com/7b980e144f.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="personalWebsite.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>