<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=scr, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <a href="{{url_for('static', filename='project_description.rtf')}}" target="_blank">TEST</a> -->
    <!-- <div><button><a href="{{url_for('static', filename='project_description.txt')}}">TEST</a></button></div> -->
    <!-- <object data="/Users/taro/projects/portfolio/personal_website/project_description.txt" type="text/plain" width="300" height="300" border="0"></object> -->
    <embed src="{{url_for('static', filename='project_description.rtf')}}" type="text/plain">
</body>
</html>